<!-- <div class="row">
  <div class="col-xs-12">
    <img [src]="recipeDetails.imagePath" alt="{{recipeDetails.name}}" class="img-responsive" style="max-height: 100px;
    max-width: 100px;"/>
  </div>
</div>
<hr /> -->
<div class="row">
  <div class="col-xs-12">
    <h1 style="display: block;">
      <img [src]="recipeDetails.imagePath" alt="{{recipeDetails.name}}" class="img-responsive" style="max-height: 100px;
                max-width: 100px;float:left;" />
      <span style="float:left;">{{recipeDetails.name}}</span>
      
    </h1>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-warning dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">{{recipeDetails.desc}}</div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of recipeDetails.ingredient">
          {{item.name}} ({{item.amount}})
      </li>
    </ul>
  </div>
</div>
